<section class="flex flex-col max-w-screen-xl mx-auto p-4  md:flex-row justify-center items-baseline">
  <div>
    <h4 class="block text-xl mb-4 font-medium text-pink-900 dark:text-gray-700">Define tu aporte y monto de ahorro</h4>
    <section class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-50 dark:border-gray-700">
      <form class="space-y-6">
        <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-700"> ¿Cuánto quieres aportar a la junta?</span>
        <div class="slidecontainer">
          <div class="flex justify-between text-sm">
            <span>100</span>
            <span>300</span>
          </div>
          <input type="range" name="range" min="100" max="300" value={{feeAmount}} class="slider" [(ngModel)]="feeAmount">
          <p class="ml-2 font-semibold text-center text-2xl text-gray-800"> S/ {{feeAmount}} </p>
        </div>
        <!-- <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-700">¿Cuánto quieres aportar a la junta?</label>
          <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500" placeholder="Ingrese aquí su monto por aportar" required />
        </div> -->
        <div class="flex flex-col">
          <span class="block pb-2 text-sm font-medium text-gray-900 dark:text-gray-700">Frecuencia</span>
          <div  class="flex justify-center my-0">
            <div class="flex items-center ps-4 mr-4 border border-gray-200 rounded-sm dark:border-gray-700">
              <input id="bordered-radio-1" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="bordered-radio-1" class="w-full py-4 pr-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-700"> Semanal </label>
            </div>
            <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
              <input checked id="bordered-radio-2" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="bordered-radio-2" class="w-full py-4 pr-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-700"> Mensual </label>
            </div>
          </div>
        </div>
        <button type="submit" class="w-full text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">Buscar juntas de ahorro</button>
      </form>
    </section>
  </div>
  <div class="md:ml-16">
    <h4 class="block my-6 text-xl font-medium text-pink-900 dark:text-gray-700">Encuentra tu junta por monto meta</h4>
    <section class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-50 dark:border-gray-700">
      <form class="space-y-6" action="#">
        <div>
          <label for="monto_meta" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-700">¿Cuál es tu monto meta de ahorro?</label>
          <input type="text" id="monto_meta" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500" placeholder="Ingrese aquí su monto meta" required />
        </div>
        <button type="submit" class="w-full text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">Buscar juntas de ahorro</button>
      </form>
    </section>
  </div>
</section>

<section class="flex flex-col p-4 mt-10 md:items-center items-baseline">
  <h5 class="mb-3 text-lg font-semibold text-gray-900 md:text-xl dark:text-gray-700" >Descubre cómo ahorrar en comunidad
  </h5>
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:bg-gray-50 dark:border-gray-700">
    <h2 class="mb-2 text-base font-semibold text-gray-900 dark:text-gray-700">Beneficios de una junta </h2>
    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    <li class="font-normal text-gray-700 dark:text-gray-700">Accede a un ahorro programado sin intereses.</li>
    <li class="font-normal text-gray-700 dark:text-gray-700">Recibe una cantidad mayor cuando más lo necesites.</li>
    <li class="font-normal text-gray-700 dark:text-gray-700">Genera disciplina financiera en comunidad.</li>
  </ul>
</div>
</section>