<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-50 dark:border-gray-700">
    <form class="space-y-6">
      <p class="text-center pt-4 font-medium text-gray-700 dark:text-yellow-800">¡Bienvenid&#64; de nuevo!</p>
        <h1 class="text-xl text-center font-bold text-pink-700 dark:text-gray-700">Iniciar sesión</h1>
        <span class="block text-sm font-medium text-gray-900 dark:text-gray-700">Documento de identidad *</span>
        <div class="flex flex-wrap">
          <div class="mr-4">
            <select id="identitie" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500">
              <option value="dni">DNI</option>
              <option value="ci" >Carnet Ext.</option>
            </select>
          </div>
          <div>
              <input type="text" name="userid" id="userid" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-500 placeholder-gray-400 dark:text-gray-700" placeholder="Nro. de documento" required />
          </div>
        </div>

        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-700">Contraseña *</label>
            <input type="password" name="password" id="password" placeholder="Escribe aquí" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-500 placeholder-gray-400 dark:text-gray-700" required />
        </div>
        <button type="submit" class="w-full text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
        dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800" (click)="goPage()">Iniciar sesión</button>
        <div class="text-center">
          <a href="#" class="ms-auto text-sm font-medium text-gray-700 hover:underline dark:text-yellow-800">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="text-sm font-medium text-gray-500 text-center dark:text-gray-700">
          <p>¿No cuentas con una cuenta? </p>
          <a href="#" class="text-pink-700 text-sm font-medium hover:underline dark:text-yellow-800">Crea tu cuenta aquí</a>
        </div>
    </form>
  </div>
</div>